POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=wealth_mgmt
POSTGRES_USER=Sureshkc
POSTGRES_PASSWORD=Skc@2026

# Optional Oracle fallback
ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_CONNECTION_STRING=